{% load static %}

<html>

<head>
          <link rel="stylesheet" href="{% static 'styles.css' %}">
         
</head>

<body>
<img src = "{%static 'images/logo.png' %}" style="margin-bottom:20px;position: absolute; top: 5%; width: 10%; height:
     15%">
<p></p>
<p></p>
<p></p>
<p></p>
<p style="color: white;font-family:'Segoe UI', Arial, sans-serif; font-size:x-large;font-weight: bold "> You have now been logged out. Please click <a href="{% url 'index' %}">here </a> to login again.</p>
</body>

</html>
